<!DOCTYPE html>
<html lang="en" ng-app="Dashboard">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test SPA CRUD with Angular</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Angular -->
    <script src="js/app/app.js"></script>
    <script src="js/app/services.js"></script>
    <script src="js/app/controllers/controllers.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Test SPA CRUD with Angular</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" id="navigation" ng-controller="MenuController">
                <li ng-class="getClass('/users')"><a  href="#/users" class="navlink">Users <span class="sr-only">(current)</span></a></li>
                <li ng-class="getClass('/persons')"><a  href="#/persons" class="navlink">Persons</a></li>
                <li ng-class="getClass('/positions')"><a  href="#/positions" class="navlink">Positions</a></li>
                <li ng-class="getClass('/departments')"><a  href="#/departments" class="navlink">Departments</a></li>
                <li ng-class="getClass('/companies')"><a  href="#/companies" class="navlink">Companies</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="alert alert-success alert-dismissible" role="alert" style="display: none">
                <button type="button" class="close" onclick="$('.alert').hide();"aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> Item saved successfully!
            </div>


            <div class="table-responsive">

                <div ng-view></div>

                </div>

                <!-- Modal -->
                <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="ModalWindow">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <div class='form-group' ng-repeat="(key, value) in item">
                                    <label>{{ key }}</label><input type='text' class='form-control' value='{{ value}}'/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="$('#myModal').modal('hide'); $('.alert').show();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="libs/jquery/jquery-1.11.3.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>