<div>
    <h2 class="page-header">Companies</h2>
    <div class="table_content">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>company_name</th>
                <th>description</th>
                <th>actions</th>

            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{ item.id }}</td>
                <td>{{ item.company_name }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="openModalWindow(item)">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>

            </tr>
            </tbody>
        </table>

    </div>



</div>