<div>
    <h2 class="page-header">Persons</h2>
    <div class="table_content">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>middle_name</th>
                <th>email</th>
                <th>phone_number</th>
                <th>actions</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{ item.id }}</td>
                <td>{{ item.first_name }}</td>
                <td>{{ item.last_name }}</td>
                <td>{{ item.middle_name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phone_number }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="openModalWindow(item)">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>



</div>