<div>
    <h2 class="page-header">Users</h2>
    <div class="table_content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nickname</th>
                    <th>department_id</th>
                    <th>person_id</th>
                    <th>position_id</th>
                    <th>super_user</th>
                    <th>actions</th>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.nickname }}</td>
                    <td>{{ item.department_id }}</td>
                    <td>{{ item.person_id }}</td>
                    <td>{{ item.position_id }}</td>
                    <td>{{ item.super_user }}</td>
                    <td>

                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="openModalWindow(item)">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>



</div>